
.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/theme.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  